[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "echo 'No tests defined!'"
start = "python ./src/server.py"

[packages]
numpy = "==1.26.4"
pandas = "==2.2.1"
Flask = "==3.0.2"
Flask-Cors = "==4.0.0"
tensorflow = "==2.15.0"
keras = "==2.15.0"
json-logging = "==1.3.0"
opencv-python = "==4.9.0.80"
scikit-image = "==0.22.0"
tensorflow_object_detection_api = "==0.1.1"
protobuf = "==3.20.*"
Pillow = "==9.5.0"

[dev-packages]

[requires]
python_version = "3.10"